*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nextt {
    background-color: aquamarine;
    border: 0cap;
    color: aquamarine;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: block;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}




